* {
  box-sizing: border-box;
}

body {
  min-height: 1300px;
  font-family: 'Montserrat',
    sans-serif;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-logo {
  background-size: 0.2em 100%;
  font: 16em/1 Montserrat;
  position: relative;
  width: 90px;
  height: 80px;
  background-color: transparent;
}

.text-line {
  font-size: 1.1em;
}

svg {
  position: absolute;
  width: 100px;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 5% 9%;
  stroke-width: 10px;
  -webkit-animation: stroke-offset 9s infinite linear;
  animation: stroke-offset 9s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #034870;
  stroke-dashoffset: 7%;
}

.text-copy:nth-child(2) {
  stroke: #044377;
  stroke-dashoffset: 14%;
}

.text-copy:nth-child(3) {
  stroke: #040686;
  stroke-dashoffset: 21%;
}

.text-copy:nth-child(4) {
  stroke: #1a047e;
  stroke-dashoffset: 28%;
}

.text-copy:nth-child(5) {
  stroke: #0c0c0c;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}


.stn__1 {
  background-image: url("img/main-img.png");
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
 height: 100%;
 padding-top: 30px;
}
.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 195px;
}

.main-name {
  color: #60606e;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.main-link a {
  text-decoration: none;
  color: #60606e;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
.main-link a:hover {
  color:#37373f;
 text-shadow: 2px 2px #7beec7;
}



.stn__2 {
  padding: 130px 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.stn__2-row {
   display: flex;
   flex-direction: row;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-txt-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-text {
  width: 47%;
  height: 49px;
  background-color: #fefcf9;
  border: 1px solid rgba(0, 0, 0, 0.09);
 
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
 
  padding-left: 15px;
  margin-bottom: 30px;
}
.form-text::placeholder,
.form-text-obj::placeholder,
.form-txtr::placeholder {
 color: #cccccc;
  font-size: 12px;
}
.form-text-obj {
width: 100%;
height: 49px;
background-color: #fefcf9;
border: 1px solid rgba(0, 0, 0, 0.09);
line-height: 48px;
font-weight: 700;
text-transform: uppercase;
padding-left: 15px;
}
.form-txtr {
  width:100%;
  height: 200px;
  background-color: #fefcf9;
  border: 1px solid rgba(0, 0, 0, 0.09);
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 15px;
  resize: none;
  margin: 30px 0;
}
.stn__2-btn {
  transform-style: preserve-3d;
  transition: all 800ms ease;
 width: 165px;
 height: 50px;
 background-color: #7beec7;
 font-weight: 700;
 text-transform: uppercase;
 color: #ffffff;
 border: none;
}

.stn__2-btn:after {
  top: -100%;
  left: 0px;
  width: 100%;
  color: #7beec7;
  padding: 10px 0;
  position: absolute;
  background: #000000;
  border-radius: 5px;
  content: 'send';
  transform-origin: left bottom;
  transform: rotateX(90deg);
  line-height: 2.5;
  height: 35px;
}

.stn__2-btn:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}
h3 {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
  margin-top: 100px;
}
p {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #999999;
}
.p-marg {
  margin: 20px 0;
}
.p-bold {
  font-weight: 900;
}





.stn__7 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7beec7;
  width: 100%;
  height: 100%;
}

.stn__7-row {
  display: flex;
  flex-direction: row;
}

.stn__7-name {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.stn__7-btn {
  transform-style: preserve-3d;
  transition: all 800ms ease;
  width: 165px;
  height: 49px;
  background-color: #ffffff;
  color: #7beec7;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
}

.stn__7-btn:after {
  top: -100%;
  left: 0px;
  width: 100%;
  color: #7beec7;
  padding: 10px 0;
  position: absolute;
  background: #000000;
  border-radius: 5px;
  content: 'get in touch';
  transform-origin: left bottom;
  transform: rotateX(90deg);
  line-height: 2.5;
  height: 35px;
}

.stn__7-btn:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}

.stn__7-form {
  width: 450px;
  height: 230px;
  background-color: #ffffff;
  padding: 15px;
}

.ftr-row {
  display: flex;
  flex-direction: row;
}

.form-name {
  color: #60606e;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.form-txt {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-top: 10px;
}

.stn__7-email {
  width: 300px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 0;
  margin-top: 20px;
  position: relative;
}

.stn__7-email::placeholder {
  color: #cdcdcd;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}


.stn__7-form-btn {
  transform-style: preserve-3d;
  transition: all 800ms ease;
  width: 105px;
  height: 40px;
  background-color: #7beec7;
  border: none;
  margin-left: 0;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;

}

.stn__7-form-btn:after {
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #7beec7;
  padding: 0.5px 0;
  position: absolute;
  background-color: #000000;
  border-radius: 5px;
  content: 'send';
  transform-origin: left bottom;
  transform: rotateX(90deg);
  line-height: 3.4;
  height: 40px;
}

.stn__7-form-btn:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}


.footer {
  padding-top: 50px;
  background-color: #ffffff;
  width: 100%;
  height: 155px;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #9a9a9a;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-li a:hover {
  color: #7beec7;
}

.footer-li a,
.footer-li a>span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}

.footer-li a:before,
.footer-li a:after,
.footer-li a>span:before,
.footer-li a>span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.a-effect {
  display: inline-block;
  overflow: hidden;
}

.a-effect:before,
.a-effect:after {
  right: 0;
  bottom: 0;
  background: #7beec7;
}

.a-effect:before {
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
}

.a-effect:after {
  width: 2px;
  height: 100%;
  transform: translateY(100%);
}

.a-effect>span {
  display: flex;
  padding: 10px;
}

.a-effect>span:before,
.a-effect>span:after {
  left: 0;
  top: 0;
  background: #7beec7;
}

.a-effect>span:before {
  width: 100%;
  height: 2px;
  transform: translateX(100%);
}

.a-effect>span:after {
  width: 2px;
  height: 100%;
  transform: translateY(-100%);
}

.a-effect:hover:before,
.a-effect:hover:after,
.a-effect:hover>span:before,
.a-effect:hover>span:after {
  transform: translate(0, 0);
}


.footer-txt-ico {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.box-ico {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 50%;
  justify-content: space-around;
}

.footer-text {
  color: #9a9a9a;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

i {
  color: #989898;
}

#facebook:hover {
  color: #3b5998;
}

#twitter:hover {
  color: #00acee;
}

#youtube:hover {
  color: #c4302b;
}

#in:hover {
  color: #ff3366;
}

#instagram:hover {
  color: #8a3ab9;
}

#pinterest:hover {
  color: #c8232c;
}